{% extends 'core/base.html' %}

{% block content %}

<!-- Modal -->
<section class="hero is-default is-light">
      <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6">
                    <h1 class="title">
                        Questionnaire Management
                      </h1>
                </div>
                <div class="column is-6">
                    <div class="buttons has-addons is-right">
                        <a href="{% url 'add_question'  %}" class="button is-success is-light ">Add New Question </a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
    <hr>

    {% for survey in surveys %}
    <div class="hiro" id="question_delete_app">
        <div class=" is-warning">
          <div class="notification ">

              <div class="columns">
                <div class="column is-9">
                    <center><b>{{ survey.title|title }}</b><br>
                        <small><i>Author:{{ survey.created_by|title }}</i></small>
                    </center>
                </div>
                <div class="column is-3">
                    <div class="buttons has-addons is-right">
                        <a href="{% url 'view_report' survey.id %}" class="button is-success is-light ">View Report </a>
                    </div>
                </div>
            </div>
          </div>
        </div><br>
        {% if messages %}
          {% for msg in messages %}
            <div class="notification123 is-success">
                {{msg.message}}
            </div>
          {% endfor %}
        {% endif %}
        <table id="example" class="table is-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Sl.</th>
                    <th>Question</th>
                    <th>Option</th>
                    <th>Answer Submitted</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                {% for ques in survey.questions.all %}
                <tr>
                    <td>Question # {{ forloop.counter }}</td>
                    <td>{{ ques.title }}</td>
                    <td>
                        {{ ques.option_set.count }}
                       {% comment %} {% for opt in ques.option_set.all %}
                           # {{ forloop.counter }}. {{ opt.option|title }}
                        {% endfor %}{% endcomment %}
                    </td>
                    <td>{{ ques.answer_set.count }}
                        {% comment %}{% for an in ques.answer_set.all %}
                           {{ forloop.counter }} # {{ an.answer_id }}
                        {% endfor %}{% endcomment %}
                    </td>
                    <td><a href="{% url 'edit_question' ques.id %}"  class="btn btn-sm is-success is-light is-small">
                        Edit</a>
                        <a href="{% url 'delete_question' ques.id %}" onclick="return confirm('Are you sure you want to delete this ?');" class="btn btn-sm is-success is-light is-small">
                        Delete</a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Question</th>
                    <th>Option</th>
                    <th>Answer Submitted</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>


        </div><br>
    {% endfor %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.bulma.min.css">
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.23/js/dataTables.bulma.min.js"></script>

   {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>{% endcomment %}
    <script type="text/javascript" class="init">
        
        $(document).ready(function() {
            $('#example').DataTable();
        } );

	</script>

{% endblock %}